@model List<Post>

<div class="blog-section tp-pst">
    <div class="sec-title">
        <h3>Recommended Posts</h3>
    </div>

    <div class="blog-items">
        <div class="row">
            @foreach (var item in Model)
            {
                 <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                     <div class="blog-item">
                         <div class="blog-img">
                             <img src="@item.ImagePath" alt="" />
                         </div>
                         <div class="blog-info">
                             <h3 class="post-title"><a asp-controller="Home" asp-action="Post" asp-route-id="@item.ID">@item.Title</a></h3>
                             <ul class="meta">
                                 <li>@item.CreatedDate</li>
                                 <li><i class="la la-eye"></i>@item.ViewCount</li>
                             </ul>
                         </div>
                     </div>
                 </div>
            }
        </div>
    </div>
</div>